/* vim: set ts=2 sw=2 sts=2 et: */
/**
* X-MultiCurrency module CSS stylesheet
*  
* @category   X-Cart
* @package    X-Cart
* @subpackage CSS
* @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
* @version    537a3272759a84a0176b1e4663e61c66f207a7b3, v1 (xcart_4_5_3), 2012-08-03 11:35:59, main.css, tito
* @link       http://www.x-cart.com/
* @see        ____file_see____
*/

.mc-selector-menu-block {
  cursor: pointer;
  margin-top: 4px;
}

.mc-selector-popup-block {
  display: none;
}

.mc-selector-block {
  margin: 2px;
  padding: 2px;
  padding-bottom: 10px;
}

li.mc-selector-row {
  list-style-type: none;
  text-align: left;
}

.mc-selector-language-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.mc-selector-label {
  width: 150px;
  margin-right: 5px;
  display: inline-block;
}

.mc-selector-row-separator {
  height: 1px;
  width: 100%;
  background-color: #eeeeee;
  margin: 10px 0px;
}

.mc-selector-button {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.mc-selector-menu-item {
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  color: #324C76;
}

ul.mc-selector-language-block {
  width: 150px;
  list-style: none;
}

.mc-selector-language-current {
  background: no-repeat 2px;
  padding-left: 25px;
  height: 24px;
  cursor: pointer;
}

.mc-selector-language-block-menu {
  background-color: white;
  position: absolute;
  margin-left: -5px;
  margin-top: 3px;
  padding: 0px;
  border: 1px solid #eeeeee;
  display: none;
}

.mc-selector-language-block-menu-item {
  background: no-repeat 6px;
  padding: 5px 0px 5px 29px;
  width: 150px;
  cursor: pointer;
}

.mc-selector-language-block-menu-item:hover {
  background-color: #fafafa;
}

.mc-currency-note-order-block {
  background-color: #eeeeee;
  border-top: 2px solid #999999;
  padding: 5px;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.mc-currency-note-block {
  width: 100%;
  margin-bottom: 15px;
  text-align: right;
  font-size: 11px;
  margin-top: 15px;
}

.mc-opc-currency-note-block {
  width: 100%;
  margin-bottom: 15px;
  font-size: 11px !important;
}

.mc-currency-note-wishlist-block {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

