#products-nav {
	position: relative;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

	
.product {
	position: relative;
	margin-top: -10px;
}
.product h2 {
	margin: 0;
}

.products-landing,
.product header {
	max-width: 640px;
	min-height: 240px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	color: #ffffff; }

.products-landing-image-container {
	position: absolute;
	top: 100px;
	left: 0;
}	
	
.products-landing-image {
	position: absolute;
	display: inline-block;
	height: 25vw;
}
	.products-landing-image:after {
	  content: ""; 
	  position: absolute; 
	  top: 0; 
	  right: 0; 
	  bottom: 0; 
	  left: 0;
	}

	.products-landing-image.ski {
		left: 75vw;	
		top: 0;
	}
	.products-landing-image.snowboard {
		left: 70vw;	
		top: 15vw;
	}

	.products-landing-image object {
		height: 25vw; }

.product header,
.product button {
	visibility: hidden;
}
	.current .product header,
	.current .product button {
		visibility: visible; }

.preview {
	position: relative;
	height: 210px;
	padding: 0; 
}

.preview li {
 	position: absolute; 
	top: 0; 
	left: 0; 
	visibility: hidden; }
	
	.preview .current {
		visibility: visible; }


.products-swatches {
	text-align: center;
}
	.products-swatches ul {
		margin-top:10px;
		list-style: none; }

	.products-swatches-pager a {
		width: 5vw;
		height: 5vw;
		display: inline-block;
		margin-left: 3vw;
		text-align: center;
	}

		.products-swatches-pager a:first-child {
			margin-left: 0;
		}

		.products-swatches-pager img {
			width: 100%;
			height: 100%;
		}

button.configure { display: none; }

#maharajah-configure {
	width: 220px;
	position: absolute;
	top: 0;
	right: 100px;
}
	#maharajah-configure .hide-group {
		display: none;
	}

	#maharajah-configure .configure-column {
		color: #fff;
		float: left;
	}

	#maharajah-configure button {
		border-radius: 4px;
		height: 30px;
		width: 140px;
		color: #fff;	
		margin-bottom: 10px;	
	}

	#maharajah-configure .primary {
		background: #13b6ea;		
		border: 1px solid #13b6ea;		
	}

	#maharajah-configure .secondary {
		background: #666;	
		border: 1px solid #666;	
	}	
	
	#maharajah-configure .configure-options {
		margin-left: 10px;
		width: 140px;
	}

		#maharajah-configure .configure-options menu,
		#maharajah-configure .configure-options ul {
			list-style: none;
			padding: 0;
			margin: 0;			
		}
	
		#maharajah-configure .configure-options > ul {
			width: 140px;
		}

		#maharajah-configure .configure-options menu,
		#maharajah-configure .configure-options menu ul {
			display: inline-block;
			float: right;
		}
		
	#maharajah-configure .configure-options .configure-option {
		overflow: auto;
		margin-bottom: 10px;
		background: #666;
		opacity: .5;		
	}
	
	#maharajah-configure .configure-options menu {

	}

.ui-btn-inner {
	display: none;
}

/***** responsive *****/

@media (max-width: 320px) and (orientation: portrait) {
	.product header {
		width: 240px; }


	.products-swatches-pager a {
		width: 25px;
		height: 25px;
		margin-left: 10px;
	}	
	
	
}	