#products-nav {
	position: relative;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

	
.product {
	position: relative;
	margin-top: -10px;
}
.product h2 {
	margin: 0;
}

.products-landing,
.product header {
	max-width: 640px;
	min-height: 240px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	color: #ffffff; }

.product header p {
	width: 70%; }

.products-landing-image-container {
	position: absolute;
	top: 100px;
	left: 0;
}	
	
.products-landing-image {
	position: absolute;
	display: inline-block;
	height: 25vw;
}
	.products-landing-image:after {
	  content: ""; 
	  position: absolute; 
	  top: 0; 
	  right: 0; 
	  bottom: 0; 
	  left: 0;
	}

	.products-landing-image.ski {
		left: 75vw;	
		top: 0;
	}
	.products-landing-image.snowboard {
		left: 70vw;	
		top: 15vw;
	}

	.products-landing-image object {
		height: 25vw; }

.product header,
.product button {
	visibility: hidden;
}
	.current .product header,
	.current .product button {
		visibility: visible; }

.preview {
	position: relative;
	height: 210px;
	padding: 0; 
}

.preview li {
 	position: absolute; 
	top: 0; 
	left: 0; 
	visibility: hidden; }
	
	.preview .current {
		visibility: visible; }


.products-swatches {
	text-align: center;
}
	.products-swatches ul {
		margin-top:10px;
		list-style: none; }

	.preview-swatches a {
		width: 5vw;
		height: 5vw;
		display: inline-block;
		margin-left: 3vw;
		text-align: center;
	}

		.preview-swatches a:first-child {
			margin-left: 0;
		}

		.preview-swatches img {
			width: 100%;
			height: 100%;
		}

button.configure { display: none; }

.product-configure {
	width: 220px;
	position: absolute;
	top: 0;
	right: 100px;
}
	.product-configure .hide-group {
		display: none;
	}

	.product-configure .configure-column {
		color: #fff;
		float: left;
	}

	.product-configure .swatches {
		min-height: 45px;
		margin-bottom: 10px;
		position: relative;
	}

	.product-configure .swatches .pointer {
		position: absolute;
		top: 32px;
		right: 0;
	}	

	.product-configure .swatches a {
		width: 45px;
		height: 45px;
		border: 1px solid #000;		
		display: none;
	}
	
	.product-configure .swatches a.current {
		display: block;
	}
	
	.product-configure .price2 {
		display: none; }

	.product-configure button {
		border-radius: 4px;
		height: 30px;
		width: 140px;
		color: #fff;	
		margin-bottom: 10px;	
	}

	.product-configure .primary {
		background: #13b6ea;		
		border: 1px solid #13b6ea;		
	}

	.product-configure .secondary {
		background: #666;	
		border: 1px solid #666;	
	}	
	
	.product-configure .configure-options {
		margin-left: 10px;
		width: 140px;
	}

		.product-configure .configure-options menu,
		.product-configure .configure-options ul {
			list-style: none;
			padding: 0;
			margin: 0;			
		}
	
		.product-configure .configure-options > ul {
			width: 140px;
		}

		.product-configure .configure-options menu {
			display: inline-block;
			float: right;
		}
		
	.product-configure .configure-options .configure-option {
		margin-bottom: 10px;
		position: relative;
		background: rgba(0,0,0,.5);			
	}

	.product-configure .configure-options .close {
		font-size: 14px;
		margin-bottom: 10px;
	}
	
	.product-configure .configure-option label {
		position: absolute;
		top: 0;
		left: 5px;
	}
	
	.product-configure .configure-option input {
		background: transparent url(../img/products/dropdown_arrow.png) 100% 100% no-repeat;
		width: 60px;
		border: 0;
		height: 20px;	
		margin-left: 80px;
		padding: 0;
		color: #fff;
	}
		.product-configure .configure-option .length-value,
		.product-configure .configure-option .quantity-value {
			width: 40px;
			margin-left: 100px; }

	.product-configure .configure-option input:focus {
		background: rgba(255,255,255,.3) url(../img/products/dropdown_arrow.png) 100% 100% no-repeat;		
	}	
	
	.product-configure .configure-option menu {
		display: none;
		position: absolute;
		top: 20px;
		right: 0;
		background: #fff;
		color: #000;
		width: 70px;
		cursor: pointer;
		z-index: 99999;
	}

.ui-btn-inner {
	display: none;
}

/***** responsive *****/

@media (max-width: 320px) and (orientation: portrait) {
	.product header {
		width: 240px; }


	.products-swatches-pager a {
		width: 25px;
		height: 25px;
		margin-left: 10px;
	}	
	
	
}	