#products-nav {
	position: relative;
	width: 640px;
	margin-left: auto;
	margin-right: auto;
}

	
.product {
	position: relative;
	margin-top: 20px;
}
.product h2 {
	margin: 0;
}

.products-landing,
.product header {
	max-width: 640px;
	min-height: 160px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	color: #ffffff; }

.products-landing-image-container {
	position: absolute;
	top: 100px;
	left: 0;
}	
	
.products-landing-image {
	position: absolute;
	display: inline-block;
	height: 25vw;
}
	.products-landing-image:after {
	  content: ""; 
	  position: absolute; 
	  top: 0; 
	  right: 0; 
	  bottom: 0; 
	  left: 0;
	}

	.products-landing-image.ski {
		left: 75vw;	
		top: 0;
	}
	.products-landing-image.snowboard {
		left: 70vw;	
		top: 15vw;
	}

	.products-landing-image object {
		height: 25vw; }

.subnav-link {
	margin-top: -2px;
}

.product header,
.product button,
.product .preview-swatches {
	visibility: hidden;
}
	.current .product header,
	.current .product button,
	.current .product .preview-swatches {
		visibility: visible; }

.preview {
	position: relative;
	height: 210px;
	padding: 0; 
}

.preview li {
 	position: absolute; 
	top: 0; 
	left: 0; 
	visibility: hidden; }
	
	.preview .current {
		visibility: visible; }


.products-swatches {
	text-align: center;
}
	.products-swatches ul {
		margin-top:10px;
		list-style: none; }

	.products-swatches-pager a {
		width: 5vw;
		height: 5vw;
		display: inline-block;
		margin-left: 3vw;
		text-align: center;
	}

		.products-swatches-pager a:first-child {
			margin-left: 0;
		}

		.products-swatches-pager img {
			width: 100%;
			height: 100%;
		}

.configure {
	display: none;
	background: transparent;
	text-transform: uppercase;
	border: 1px solid #13b6ea;
	height: 40px;
	width: 140px;
	color: #13b6ea;
	position: absolute;
	top: 0;
	right: 0;
}

.ui-btn-inner {
	display: none;
}

/***** responsive *****/

@media (max-width: 320px) and (orientation: portrait) {
	.product header {
		width: 240px; }


	.products-swatches-pager a {
		width: 25px;
		height: 25px;
		margin-left: 10px;
	}	
	
	
}	