/* vim: set ts=2 sw=2 sts=2 et: */
/**
 * EU Cookie Law module CSS stylesheet
 *  
 * @category   X-Cart
 * @package    X-Cart
 * @subpackage CSS
 * @author     Ruslan R. Fazlyev <rrf@x-cart.com> 
 * @version    8ec8b858917c921a726e2197071ce74d020e5ead, v1 (xcart_4_6_0), 2013-04-02 16:43:59, main.css, random
 * @link       http://www.x-cart.com/
 * @see        ____file_see____
 */

/**
 * Alternative styles for common elements 
 */

div#eucl_panel {
  border: 1px solid #AAA;
	font-weight: normal;
	font-size: 12px;
	padding: 10px 15px 10px 15px;
	display: none;
	vertical-align: middle;
  position: relative;
  z-index: 100000;
  background: #FFFFFF;
  color: #000000;
}
div#eucl_panel td#eucl_panel_msg {
	font-weight: normal;
	font-size: 12px;
}
div#eucl_panel td#eucl_panel_btn {
	text-align: right;
	padding: 0px 0px 0px 20px;
  width: 220px;
  white-space: nowrap;
}
div#eucl_panel td#eucl_panel_countdown {
	padding: 0px 0px 0px 10px;
	font-size: 18px;
	vertical-align: middle;
  width: 60px;
  white-space: nowrap;
  text-align: right;
  color: #005d98;
}

div.save_close_btn {
	float: right;
  padding-right: 20px;
}

td#eucl_desc ul {
  margin: 0px;
}

div.eucl_dialog {
  padding: 10px;
  line-height: 14px;
}
